@model Sept2023WebAppMVC.Models.CredentialModel

@{
    ViewBag.Title = "PostCredentials";
}

<h2>Storgly typed html helpers</h2>

@using (@Html.BeginForm())
{
    <div>
        <div>
            Username: @Html.TextBoxFor(m => m.Username) <br />
            Password: @Html.PasswordFor(m => m.Password)
        </div>

        <div>
            <input type="submit" value="Post" />
        </div>
    </div>

    <h4>Model Display Data</h4>
    <div>
        @Html.DisplayFor(m => m.Username) <br />
        @Html.DisplayFor(m => m.Password)
    </div>   
}
