@model Sept2023WebAppMVC.Models.PersonDetailsModel

@{
    ViewBag.Title = "Save";
}

<h2>Person Details</h2>
 
 
@using (Html.BeginForm())
{
    <div>
        <div>
            <div>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </div>

            <div>
                @Html.LabelFor(m => m.DateOfBirth)
                @Html.EditorFor(m => m.DateOfBirth)
            </div>

            <div>
                @Html.LabelFor(m => m.GenderId)
                @*@Html.DropDownListFor(m => m.GenderId, new List<SelectListItem>() {  new SelectListItem(){Text= "Male", Value="1"},
                                                                                     new SelectListItem(){Text= "Female", Value="2"},
                                                                                     new SelectListItem(){Text= "Others", Value="3"}
                                                                                  })*@
                @Html.DropDownListFor(m => m.GenderId, (SelectList)ViewBag.GenderData);
            </div>

            <div>
                @Html.LabelFor(m => m.MobileNumber)
                @Html.EditorFor(m => m.MobileNumber)
            </div>

            <div>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </div>

            <div>
                @Html.LabelFor(m => m.Address)
                @Html.TextAreaFor(m => m.Address)
            </div>

            <div>
                @Html.LabelFor(m => m.IsActive)
                @Html.CheckBoxFor(m => m.IsActive)
            </div>

            <div>
                <input type="submit" value="Save" />
            </div>
        </div>
    </div>
    <div>
        <p class="text-danger">
            @ViewBag.result;
        </p>
    </div>
}

